<!DOCTYPE html>
<html>
    <head>
        <title>
            Tags
        </title>
    </head>
    <body>
        <button onclick="location.href='/'">Home</button>
        <p>
            <button onclick="location.href='/tags/new'">Add Tag</button>
            {%for tag in tags%}
                <a href="/tags/{{tag.id}}">{{tag.name}}</a>
            {%endfor%}
        </p>
        {%if selectedTag%}
        <h1>
            {{selectedTag.name}}
        </h1>
        <button onclick="location.href='tags/{{selectedTag.id}}/edit'">Edit Tag</button>
        {%for post in selectedTag.posts%}
            <h2>{{post.title}}</h2>
            <a href="/posts/{{post.id}}">{{post.content}}</a>
            <p>author: <a href="/users/{{post.user_id}}">{{post.author.full_name}}</a> at: {{post.created_at}}</p>
            <p>Tags: {%for tag in post.tags%}
                <a href="/tags/{{tag.id}}">{{tag.name}}</a>
                {%endfor%}</p>
            {%endfor%}
        {%endif%}
    </body>
</html>