<!DOCTYPE html>
<html>
    <head>
        <title>
            Edit Post
        </title>
    </head>
    <body>
        <button onclick="location.href='/'">Home</button>
        <h1>
            Edit Post {{post.title}}
        </h1>
        <form method="POST">
            <input type="text" name="title" placeholder="Enter Title" value={{post.title}}>
            <input type="text" name="content" placeholder="Post Message" value={{post.content}}>
            <input type="button" value="cancel" onclick="location.href = '/posts/{{post.id}}'">
            {%for tag in tags%}
            <input type="checkbox" value={{tag.id}} id="tag_{{tag.id}}" name="tags">
            <label for=tag_{{tag.id}}>{{tag.name}}
            </label>
            {%endfor%}
            <input type="submit">
        </form>
    </body>
</html>