<!DOCTYPE html>
<html>
    <head>
        <title>
            Create User
        </title>
    </head>
    <body>
        <button onclick="location.href='/'">Home</button>
        <h1>
            {{user.full_name}}
        </h1>
        <img src={{user.image_url}}>
        <button onclick="location.href = '/users/{{user.id}}/edit'">Edit</button>
        <form action='/users/{{user.id}}/delete' method="POST">
            <button name="delete">Delete</button>
        </form>
        <h2>
            Posts
        </h2>
        <ul>
            {% if posts|length %}
                {%for post in posts%}
                <li>
                    <a href="/posts/{{post.id}}">{{post.title}}</a>
                </li>
                {%endfor%}
            {% else %}
                <p>User has not made any posts</p>
            {% endif %}
        </ul>
        <button onclick="location.href = '/users/{{user.id}}/posts/new'">Add Post</button>
    </body>
</html>